---
layout: archive
---

{{ content }}

<p>
  Welcome! 欢迎! Bienvenue! Willkommen!
</p>

<p>
  I am Yuesong, currently a PhD student from the 
  <a href="https://cvg.cit.tum.de">Computer Vision Group</a> at 
  <a href="https://www.tum.de">Technical University of Munich</a>.
</p>

<p>
  My research interests include Bayesian deep learning, uncertainty estimation, 
  graph neural networks, probabilistic graphical models, etc.
</p>

<p>
  Previously, I have obtained MSc Informatics degree from 
  <a href="https://www.tum.de">Technical University of Munich</a> and <a href="https://en.wikipedia.org/wiki/Dipl%C3%B4me_d%27Ing%C3%A9nieur">Diplôme 
  d'Ingénieur</a> from <a href="https://www.polytechnique.edu">École polytechnique</a>. 
  I have done internships and student jobs in companies such as 
  <a href="https://www.technicolor.com">Technicolor</a>, 
  <a href="https://www.valeo.com">Valeo</a>, and 
  <a href="https://www.artisense.ai">Artisense</a>,
  and have collaborated with research groups such as the 
  <a href="https://team-approx-bayes.github.io">Approximate Bayesian Inference</a>
   Team from <a href="https://www.riken.jp/research/labs/aip/">RIKEN AIP</a> in Japan.
</p>



